@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<pre>@Model</pre>

    <div class="box-icon-left">
        <div class="icon-box-icon">
            <i class="icon-map icons"></i>
        </div>
        <h4>@Model.value</h4>
        <p>@Model.value2</p>
    </div>

